@font-face {
  font-family: playfairDisplay;
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: squarePeg;
  src: url(./fonts/SquarePeg-Regular.ttf);
}

.playfair-display {
  font-family: 'playfairDisplay';
}